{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well" style="background-color: #80efd2">
            <form class="form-horizontal" action="{{ path('poem_create') }}" method="POST">
                <fieldset>
                    <legend><strong>New Poem</strong></legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="poem_title">Poem Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="poem_title" placeholder="Poem title"
                                   name="poem[title]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="poem_content">Content</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="poem_content"
                                  name="poem[content]" placeholder="Write your poem here.."></textarea>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" style="border-color: #128f76" href="{{ path('blog_index') }}">Cancel</a>
                            <button type="submit" style="background-color: #18bc9c; border-color: #128f76" class="btn btn-primary">Share</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}