{% extends 'base.html.twig' %}

{% block main %}
<div class="container body-content">
    <div class="row">
        {% for poem in poems %}
        <div class="col-md-6">
            <article>
                <header>
                    <h2 style="width:300px">{{ poem.title }}</h2>
                </header>

                <p>
                    {{ poem.summary }}
                </p>

                <small class="author">
                    {{ poem.author }}
                </small>

                <footer>

                    <div class="pull-right">
                        <a
                           href="#"><strong>Read more &raquo;</strong></a>
                    </div>

                </footer>
            </article>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

