{% extends 'base.html.twig' %}

{% block main %}


    <div class="container body-content span=8 offset=2">
        <div class="well" style="background-color: #80efd2">
            <form enctype="multipart/form-data" class="form-horizontal" action="{{ path('song_add_new') }}" method="POST">
                <fieldset>
                    <legend><strong>Add a song</strong></legend>




                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="song_songName">Your song: </label>
                        <div class="col-sm-4">

                            <input type="file"  id="song_songName"
                                   name="song[songName]"/>
                            <label for="song[songName]">Choose a song(MP3, WAV, AIFF)</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="song_description">Description: </label>
                        <div class="col-sm-4">
                            <input placeholder="Maximum characters(20)" type="text" name="song[description]" id="song_description"/>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" style="border-color: #128f76" href="{{ path('songs_show_all') }}">Cancel</a>
                            <button type="submit" style="background-color: #18bc9c; border-color: #128f76" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}