{% extends 'base.html.twig' %}

{% block main %}
    <script src="{{ asset('js/picturePreview.js') }}"></script>


    <div class="container body-content span=8 offset=2">
        <div class="well" style="background-color: #80efd2">
            <form enctype="multipart/form-data" class="form-horizontal" action="{{ path('image_add_new') }}" method="POST">
                <fieldset>
                    <legend><strong>Add a picture</strong></legend>




                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="image_imageName">Your picture: </label>
                        <div class="col-sm-4">

                            <img id="picture" src="" class="col-sm-6">
                            <input type="file"  id="image_imageName"
                                   name="image[imageName]" onchange="readURL(this);" >
                            <label for="image[imageName]">Choose a picture(PNG, JPG, JPEG, GIF)</label>

                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" style="border-color: #128f76" href="{{ path('blog_index') }}">Cancel</a>
                            <button type="submit" style="background-color: #18bc9c; border-color: #128f76" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}