{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="form-group-sm">
            <h1>All pictures:</h1>

            {% for picture in pictures %}

                <div class="col-md-4 block"
                     style="min-height: 340px; border:2px solid lightgray; border-radius:10px; margin-bottom: 2px">
                    <h3 class="text-center" style="word-wrap: break-word">{{ picture.description }}</h3>

                    <img class="img-responsive img-rounded center-block" data-type="imageresource"
                         style="max-height:200px;"
                         src="{{ asset('uploads/images/' ~ picture.imageName) }}"/>

                    <footer class="text-center">
                        <small class="author" style="margin-right: 15px">
                            by: {{ picture.author }}
                        </small>
                    </footer>
                    {% if app.getUser and (app.getUser.isAuthorImage(picture)) %}
                        <a class="btn btn-xs btn-danger col-sm-2 col-sm-offset-5"
                           href="{{ path('image_delete', {id: picture.id}) }}"
                           style="margin-top: 10px; margin-bottom:10px; border-color: #18bc9c">delete</a>
                    {% endif %}
                </div>
            {% endfor %}


        </div>
    </div>

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Image preview</h4>
                </div>
                <div class="modal-body">
                    <img id="imagepreview" style="max-width:400px; overflow:hidden" class="center-block">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            style="background-color: #18bc9c; border-color: #128f76">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block imageViewer %}
    <script>
        $("[data-type='imageresource']").click(function () {
            $('#imagepreview').attr('src', $(this).attr('src'));
            $('#imagemodal').modal();

        });
    </script>
{% endblock %}