{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="form-group-sm" >


            {% for picture in pictures %}
                <div class="col-md-4">

                        <div class="block" style="width:300px">

                            <h2 class="text-center" >{{ picture.description }}</h2>


                        <img class="img-responsive img-rounded center-block" style="max-height: 200px" src="{{ asset('uploads/images/' ~ picture.imageName) }}"/>

                            <footer class="text-center">
                                <small class="author">
                                     by: {{ picture.author }}
                                </small>
                            </footer>
                        </div>

                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}

