{% extends 'base.html.twig' %}

{% block main %}
<h2 style="word-wrap: break-word">Art.me is the website where you can share your poems, songs or pictures, created by you.
    Feel free to register and start uploading your art, because (EARTH without art is just "eh")...</h2>
{% endblock %}
