{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}


    <div style="padding:5px; margin-top:20px">
        <h3 style="word-wrap: break-word">Your full name is: {{ user.fullName }}</h3>
        <h3 style="word-wrap: break-word">Your username is: {{ user.email }}</h3>
    </div>
    <a class="btn btn-default btn-sm" style="background-color: #18bc9c; border-color: #128f76" href="{{ path('profile_edit') }}">Edit</a>



{% endblock %}
